<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mylife.org.mylife" >

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="mylife.org.mylife.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="mylife.org.mylife.Sport"
            android:label="@string/title_activity_sport" >
        </activity>

        <activity
            android:name="mylife.org.mylife.SportList"
            android:label="@string/title_activity_sport_list" >
        </activity>

        <receiver android:name="mylife.org.mylife.StartupBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.home" />
            </intent-filter>
        </receiver>

        <receiver android:name="mylife.org.mylife.StepBroadcastReceiver" />

        <service android:name="mylife.org.mylife.GPSService" />

        <service android:name="mylife.org.mylife.StepService" />

    </application>

</manifest>
